* {
  margin: 0;
  padding: 0;
}


body {
  background-color: #fff;
  font-family: sans-serif;
}

#main_title {
  text-align: center;
  font-size: 32px;
  margin-top: 25px;
  flex-basis: 100%;
}

#main_title a {
  color: #2AAFC7;
  text-decoration: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.entryForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 25%;
  margin: 20px;
  /*position: fixed;*/
}

.entryForm input {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  font-size: 24px;
  text-align: center;
  color: #F6A293;
}

input::placeholder {
  color: #2AAFC7;
}

.entryForm button {
  width: 100%;
  font-size: 24px;
  color: white;
  border-radius: 20px;
  border: none;
  background-color: #2AAFC7;
  padding: 15px 0px;
  text-align: center;
  cursor: pointer;
}


.movie_collection {
  margin: 25px 30px 0px 30px;
  display: flex;
  flex-flow: row wrap;
  height: 500px;
  overflow: scroll;
  flex-basis: 65%;
}

.single_movie {
  border: 2px solid gray;
  border-radius: 10px;
  flex-basis: 31%;
  /*padding:  15px;*/
  margin-left: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 325px;
}

.movie_title {
  color: #2AAFC7;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.yearGenre {
  display: flex;
  justify-content: flex-start;
  padding: 0px 10px;
  margin-top: 0px;
}

.year {
  color: #2AAFC7;
  font-weight: 100;
  margin-right: 20px;
  margin-top: 0px;
}

.genre {
  color: #2AAFC7;
  font-weight: 100;
  margin-top: 0px;
}

.characters {
  color: gray;
  padding-left: 10px;
  margin: 5px;
}

.cast {
  color: gray;
  padding-left: 10px;
  margin: 5px;
}

.director {
  color: gray;
  padding-left: 10px;
  margin: 5px;
}

.links {
  display: flex;
  justify-content: space-around;
}

.edit_container, .delete_container {
  flex-basis: 50%;
}

.edit_link {
  border: none;
  text-decoration: none;
  color: white;
  background-color: #2AAFC7;
  width: 100%;
  padding: 10px 0px;
  text-align: center;
  border-bottom-left-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.delete_link {
  border: none;
  text-decoration: none;
  color: white;
  background-color: #F6A293;
  width: 100%;
  padding: 10px 0px;
  text-align: center;
  border-bottom-right-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

/*********************************************
     Edit title page styling
*********************************************/

.mask {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  margin-top: 0px;
  margin-left: 0px;
  padding-top: 25px;
}

.edit_movie {
  background-color: #fff;
  border: 2px solid gray;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: -20px auto 0px auto;
  padding: 5px;
  width: 400px;
}

.edit_movie h3 {
color: #2AAFC7;
font-size: 24px;
text-align: center;
margin: 10px 0px;
}

.edit_movie h4 {
  margin: 10px 5px;
  color: #2AAFC7;
}

.edit_movie input {
  height: 30px;
  border-radius: 10px;
  margin: 0px 5px;
}

.edit_movie input::placeholder {
  color: #F6A293;
  font-size: 15px;
  text-align: center;
}

.edit_movie button {
  background-color: #2AAFC7;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  height: 30px;
  margin: 10px;
  width: 95%;
}

.back_button {
  display: flex;
  justify-content: flex-end;
}

.back_button a {
  color: white;
  font-size: 24px;
  margin: 20px;
  padding: 10px;
  text-decoration: none;
}
